In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import numpy as np

In [4]:
table = pd.read_table('heart.txt')

In [5]:
table5 = table.replace(regex={r'presence': '0', 'absence': '1'})

table6 = table5.replace(regex={r'non': '0', 'oui': '1'})

table7 = table6.replace(regex={r'A': '0', 'B': '1', 'C': '2', 'D': '3'})

table7

table8 = table7.replace(regex={r'masculin': '0', 'feminin': '1'})

In [6]:
table8.dtypes

age            int64
sexe          object
pression       int64
cholester      int64
sucre         object
electro       object
taux_max       int64
angine        object
depression     int64
pic            int64
vaisseau      object
coeur         object
dtype: object

In [9]:
table9.dtypes

NameError: name 'table9' is not defined

In [10]:
table9 = table8.astype(int)
table9.dtypes

age           int32
sexe          int32
pression      int32
cholester     int32
sucre         int32
electro       int32
taux_max      int32
angine        int32
depression    int32
pic           int32
vaisseau      int32
coeur         int32
dtype: object

In [11]:
#nous allons maintenant faire de la régression logistique pour predire la probabilité qu'un indivudu soit atteint de maladie 
#cardiaque

In [49]:
#avant tout nous définissons notre variable à predire le coeur et les variables susceptibles d'expliquer une maladie du coeur
X=table9[['sexe', 'angine','vaisseau', 'taux_max', 'cholester']]
y=table9['coeur']

In [50]:
#pour commencer, nous effectuons une validation croisée classique sur notre jeu de donnée, soit 75% des données participerons
#à l'entrainement et les 25% des données restantes serviront au test.
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [51]:
X_train

     sexe  angine  vaisseau  taux_max  cholester
158     1       0         0       170        304
125     1       0         1       130        265
106     0       0         0       178        298
18      1       0         0       133        313
137     1       1         0       152        236
..    ...     ...       ...       ...        ...
251     0       0         3       139        188
192     0       0         0       171        266
117     0       1         0       125        174
47      0       0         2       175        255
172     0       0         0       165        211

[202 rows x 5 columns]

In [52]:
import pingouin as pg

In [53]:
pg.logistic_regression(X_train,y_train,remove_na=True)

       names      coef        se         z      pval  CI[2.5%]  CI[97.5%]
0  Intercept -3.247271  1.639643 -1.980475  0.047650 -6.460912  -0.033631
1       sexe  2.057060  0.482012  4.267655  0.000020  1.112334   3.001785
2     angine -1.454733  0.437840 -3.322525  0.000892 -2.312883  -0.596583
3   vaisseau -1.158816  0.242375 -4.781086  0.000002 -1.633862  -0.683769
4   taux_max  0.040823  0.010050  4.061980  0.000049  0.021125   0.060520
5  cholester -0.009205  0.003685 -2.498270  0.012480 -0.016427  -0.001983

In [65]:
from sklearn.linear_model import LogisticRegression

In [66]:
logreg = LogisticRegression()

In [67]:
logreg.fit(X_train,y_train)

LogisticRegression()

In [68]:
y_pred=logreg.predict(X_test)

In [69]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[17,  4],
       [ 9, 38]], dtype=int64)

In [70]:
import statsmodels.api as sm

In [71]:
x_stat = sm.add_constant(x)

NameError: name 'x' is not defined

In [72]:
model = sm.Logit(y_train, X_train)

In [73]:
result = model.fit(method='newton')

Optimization terminated successfully.
         Current function value: 0.433144
         Iterations 7

In [74]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  coeur   No. Observations:                  202
Model:                          Logit   Df Residuals:                      197
Method:                           MLE   Df Model:                            4
Date:                Sun, 18 Jul 2021   Pseudo R-squ.:                  0.3749
Time:                        22:15:58   Log-Likelihood:                -87.495
converged:                       True   LL-Null:                       -139.98
Covariance Type:            nonrobust   LLR p-value:                 8.630e-22
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
sexe           2.0318      0.482      4.218      0.000       1.088       2.976
angine        -1.6402      0.416     -3.947      0.000      -2.455      -0.826
vaisseau      -1.1936      0.241     -4.961      0.000      -1.665      -0.722
taux_max       0.0251      0.006      4.555      0.000       0.014       0.036
cholester     -0.0122      0.003     -3.594      0.000      -0.019      -0.006
==============================================================================
"""

In [75]:
 result.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.375
Dependent Variable: coeur            AIC:              184.9903
Date:               2021-07-18 22:16 BIC:              201.5316
No. Observations:   202              Log-Likelihood:   -87.495
Df Model:           4                LL-Null:          -139.98
Df Residuals:       197              LLR p-value:      8.6297e-22
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
------------------------------------------------------------------
               Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
------------------------------------------------------------------
sexe           2.0318    0.4817   4.2182  0.0000   1.0877   2.9758
angine        -1.6402    0.4156  -3.9466  0.0001  -2.4547  -0.8256
vaisseau      -1.1936    0.2406  -4.9615  0.0000  -1.6651  -0.7221
taux_max       0.0251    0.0055   4.5547  0.0000   0.0143   0.0359
cholester     -0.0122    0.0034  -3.5937  0.0003  -0.0188  -0.0055
=================================================================

"""

In [76]:
from sklearn import linear_model

In [80]:
modele_regLog = linear_model.LogisticRegression(random_state = 0,
solver = 'liblinear', multi_class = 'auto')
modele_regLog.fit(X_train,y_train)
precision = modele_regLog.score(X_test,y_test)
print(precision*100)

79.41176470588235

In [147]:
#prédiction
coeur_cible = dict( zip (table9.coeur.unique(), table.coeur.unique()))
print( coeur_cible )
prediction_coeur = modele_regLog.predict([[42,25,150,201,1,1,100,0,22,2,1]])
coeur_cible[prediction_coeur[0]]

{0: 'presence', 1: 'absence'}

ValueError: X has 11 features per sample; expecting 4

In [99]:
table
X=table9[['age','sexe','pression','cholester', 'sucre', 'electro', 'taux_max', 'angine', 'depression', 'pic', 'vaisseau']]
y=table9['coeur']

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100,234,A,A,156,non,1,1,B,presence
1,41,feminin,130,204,A,C,172,non,14,1,A,absence
2,58,masculin,150,270,A,C,111,oui,8,1,A,presence
3,53,masculin,140,203,B,C,155,oui,31,3,A,presence
4,41,masculin,130,214,A,C,168,non,20,2,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
265,62,feminin,140,268,A,C,160,non,36,3,C,presence
266,62,masculin,130,231,A,A,146,non,18,2,D,absence
267,64,masculin,110,211,A,C,144,oui,18,2,A,absence
268,63,feminin,150,407,A,C,154,non,40,2,D,presence
269,35,feminin,138,183,A,A,182,non,14,1,A,absence

In [78]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[17  4]
 [ 9 38]]

In [79]:
#prédiction
coeur_cible = dict( zip (table9.coeur.unique(), table.coeur.unique()))
print( coeur_cible )
prediction_coeur = modele_regLog.predict([[1,0,0,172,204]])
coeur_cible[prediction_coeur[0]]

{0: 'presence', 1: 'absence'}

'absence'