In [112]:
import pandas as pd

In [113]:
import matplotlib.pyplot as plt

In [114]:
import numpy as np

In [115]:
table = pd.read_table('heart.txt')

In [116]:
table5 = table.replace(regex={r'presence': '0', 'absence': '1'})

table6 = table5.replace(regex={r'non': '0', 'oui': '1'})

table7 = table6.replace(regex={r'A': '0', 'B': '1', 'C': '2', 'D': '3'})

table7

table8 = table7.replace(regex={r'masculin': '0', 'feminin': '1'})

In [44]:
table8.dtypes

age            int64
sexe          object
pression       int64
cholester      int64
sucre         object
electro       object
taux_max       int64
angine        object
depression     int64
pic            int64
vaisseau      object
coeur         object
dtype: object

In [45]:
table9.dtypes

age           int32
sexe          int32
pression      int32
cholester     int32
sucre         int32
electro       int32
taux_max      int32
angine        int32
depression    int32
pic           int32
vaisseau      int32
coeur         int32
dtype: object

In [28]:
table9 = table8.astype(int)
table9.dtypes

age           int32
sexe          int32
pression      int32
cholester     int32
sucre         int32
electro       int32
taux_max      int32
angine        int32
depression    int32
pic           int32
vaisseau      int32
coeur         int32
dtype: object

In [5]:
#nous allons maintenant faire de la régression logistique pour predire la probabilité qu'un indivudu soit atteint de maladie 
#cardiaque

In [117]:
#avant tout nous définissons notre variable à predire le coeur et les variables susceptibles d'expliquer une maladie du coeur
X=table9[['sexe', 'angine', 'depression', 'vaisseau']]
y=table9['coeur']

In [118]:
#pour commencer, nous effectuons une validation croisée classique sur notre jeu de donnée, soit 75% des données participerons
#à l'entrainement et les 25% des données restantes serviront au test.
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.40,random_state=0)

In [71]:
X_train

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau
158,54,1,135,304,1,0,170,0,0,1,0
125,71,1,110,265,1,2,130,0,0,1,1
106,52,0,152,298,1,0,178,0,12,2,0
18,64,1,140,313,0,0,133,0,2,1,0
137,45,1,138,236,0,2,152,1,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...
251,49,0,120,188,0,0,139,0,20,2,3
192,49,0,130,266,0,0,171,0,6,1,0
117,70,0,145,174,0,0,125,1,26,3,0
47,48,0,124,255,1,0,175,0,0,1,2
172,58,0,140,211,1,2,165,0,0,1,0

In [119]:
import pingouin as pg

In [120]:
pg.logistic_regression(X_train,y_train,remove_na=True)

        names      coef        se         z      pval  CI[2.5%]  CI[97.5%]
0   Intercept  1.602169  0.368017  4.353523  0.000013  0.880870   2.323469
1        sexe  1.251327  0.493603  2.535086  0.011242  0.283882   2.218772
2      angine -1.807435  0.451012 -4.007508  0.000061 -2.691403  -0.923467
3  depression -0.056331  0.018967 -2.969952  0.002978 -0.093505  -0.019156
4    vaisseau -1.081981  0.250114 -4.325953  0.000015 -1.572195  -0.591766

In [121]:
from sklearn.linear_model import LogisticRegression

In [122]:
logreg = LogisticRegression()

In [123]:
logreg.fit(X_train,y_train)

LogisticRegression()

In [124]:
y_pred=logreg.predict(X_test)

In [125]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[27, 11],
       [ 9, 61]], dtype=int64)

In [126]:
import statsmodels.api as sm

In [127]:
x_stat = sm.add_constant(x)
x_stat

     const coeur
0      1.0     0
1      1.0     1
2      1.0     0
3      1.0     0
4      1.0     1
..     ...   ...
265    1.0     0
266    1.0     1
267    1.0     1
268    1.0     0
269    1.0     1

[270 rows x 2 columns]

In [128]:
model = sm.Logit(y_train, X_train)

In [129]:
result = model.fit(method='newton')

Optimization terminated successfully.
         Current function value: 0.520996
         Iterations 6

In [130]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  coeur   No. Observations:                  162
Model:                          Logit   Df Residuals:                      158
Method:                           MLE   Df Model:                            3
Date:                Sun, 18 Jul 2021   Pseudo R-squ.:                  0.2483
Time:                        19:46:56   Log-Likelihood:                -84.401
converged:                       True   LL-Null:                       -112.28
Covariance Type:            nonrobust   LLR p-value:                 4.745e-12
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
sexe           1.8286      0.414      4.418      0.000       1.017       2.640
angine        -1.0235      0.405     -2.530      0.011      -1.816      -0.231
depression    -0.0154      0.015     -1.027      0.304      -0.045       0.014
vaisseau      -0.6886      0.220     -3.129      0.002      -1.120      -0.257
==============================================================================
"""

In [131]:
 result.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.248
Dependent Variable: coeur            AIC:              176.8027
Date:               2021-07-18 19:47 BIC:              189.1531
No. Observations:   162              Log-Likelihood:   -84.401
Df Model:           3                LL-Null:          -112.28
Df Residuals:       158              LLR p-value:      4.7448e-12
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
------------------------------------------------------------------
               Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
------------------------------------------------------------------
sexe           1.8286    0.4139   4.4179  0.0000   1.0173   2.6398
angine        -1.0235    0.4046  -2.5300  0.0114  -1.8164  -0.2306
depression    -0.0154    0.0150  -1.0269  0.3044  -0.0448   0.0140
vaisseau      -0.6886    0.2201  -3.1289  0.0018  -1.1200  -0.2573
=================================================================

"""

In [86]:
from sklearn import linear_model

In [88]:
modele_regLog = linear_model.LogisticRegression(random_state = 0,
solver = 'liblinear', multi_class = 'auto')
modele_regLog.fit(X_train,y_train)
precision = modele_regLog.score(X_test,y_test)
print(precision*100)

83.82352941176471

In [109]:
#prédiction
coeur_cible = dict( zip (table9.coeur.unique(), table.coeur.unique()))
print( coeur_cible )
prediction_coeur = modele_regLog.predict([[42,25,150,201,1,1,100,0,22,2,1]])
coeur_cible[prediction_coeur[0]]

{0: 'presence', 1: 'absence'}

'absence'

In [99]:
table
X=table9[['age','sexe','pression','cholester', 'sucre', 'electro', 'taux_max', 'angine', 'depression', 'pic', 'vaisseau']]
y=table9['coeur']

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100,234,A,A,156,non,1,1,B,presence
1,41,feminin,130,204,A,C,172,non,14,1,A,absence
2,58,masculin,150,270,A,C,111,oui,8,1,A,presence
3,53,masculin,140,203,B,C,155,oui,31,3,A,presence
4,41,masculin,130,214,A,C,168,non,20,2,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
265,62,feminin,140,268,A,C,160,non,36,3,C,presence
266,62,masculin,130,231,A,A,146,non,18,2,D,absence
267,64,masculin,110,211,A,C,144,oui,18,2,A,absence
268,63,feminin,150,407,A,C,154,non,40,2,D,presence
269,35,feminin,138,183,A,A,182,non,14,1,A,absence

In [111]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[19  2]
 [ 8 39]]